/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.bkg {
    background-image: url(../img/background.jpg);
    background-position: inherit;
    background-repeat: repeat repeat;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #202020;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 50px;
}

#wrap > .container-fluid {
    padding-top: 50px;
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}



label.valid {
    /*width: 30px;*/
    /*height: 30px;*/
    /*padding-top: 7px;*/
    /*background: url(assets/img/valid.png) center center no-repeat;*/
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    /*padding: 2px 8px;*/
    /*margin-top: 2px;*/
}

.justified {
    text-align: justify;
}

a.white {
    color: #fff
}

a.white:hover, a.white:focus {
    color: #fff
}