        <div class="question">
            <div class="control-group">
                <label class="control-label" for="question">Question #<%= number  %></label>
                <div class="controls">
                    <textarea name="questions[]" class="textarea" placeholder="Enter text ..." style="width: 810px; height: 200px"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="answer">Answer #<%= number  %></label>
                <div class="controls">
                    <input type="text" class="validate[required]" placeholder="Answer" name="answers[]">
                </div>
            </div>
            <hr>
        </div>